<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Detalle de ingreso egreso</h4>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Monto</th>
                            <th>Tipo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let m of montos | sortIE">
                            <td>{{m.descripcion}}</td>
                            <td>{{m.monto | currency}}</td>
                            <td [ngClass]="{'text-danger': m.tipo==='E','text-success': m.tipo==='I'}"><b>{{(m.tipo==='I')?'INGRESO':'EGRESO'}}</b></td>
                            <td>
                                <button (click)="borrarMonto(m.uid)" type="button" class="btn btn-danger">Borrar <i class="fa fa-trash"></i> </button>
                            </td>
                        </tr>
                    </tbody>

                </table>


            </div>
        </div>
    </div>
</div>